.hero {
  background: #2f303a;
  max-width: 1600px;
  min-height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero__container {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: $primary-white-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
